@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.first-screen {
  background-image: url(../img/bg/first-screen.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% 10%;
}

.first-screen__body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-screen__content-wrapp {
  display: flex;
}

.conteiner {
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 50px 0 100px;
}

.main-content {
  width: 549px;
}

.main-content__text {
  width: 100%;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ff0000;
  margin-bottom: 20px;
}

.main-content__tittle {
  font-family: Oswald;
  font-size: 180px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  margin: -67px -9px -34px;
}

.main-content__subtittle {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 50px;
}

.main-content__form-wrapp {
  display: flex;
  flex-direction: column;
}

input[type="text"]::placeholder {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 60px;
  font-weight: 300;
  color: #b5b8c1;
}

.main-form {
  text-align: center;
  width: 449px;
  background-color: #313131;
  border-radius: 15.0px;
  padding: 32px;
  margin-bottom: 150px;
}

.main-form__input-wrapp {
  position: relative;
}

.main-form__input {
  width: 383px;
  height: 56px;
  background-color: #1f1f1f;
  border-radius: 10.0px;
  color: #b5b8c1;
  padding-left: 60px;
  margin-bottom: 15px;
}

.main-form__input:focus + .main-form__icon > .main-form__svg {
  stroke: #fbfcfa;
}

.main-form__icon {
  position: absolute;
  top: 16px;
  left: 26px;
}

.main-form__svg {
  fill: none;
  stroke: #ff0000;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  transition: stroke .1s s;
}

.main-form__button {
  width: 384px;
  height: 66px;
  background-color: #ff0000;
  border-radius: 33.0px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.main-form__post-offer {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  color: #b5b8c1;
}

.video-arrow-wrapp {
  width: 35%;
  align-self: flex-end;
  margin-bottom: 168px;
}

.video-arrow {
  margin: 0 auto;
  cursor: pointer;
  width: 219px;
  height: 57px;
  background-color: #ff0000;
  border-radius: 28.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px 12px 8px;
}

.video-arrow__play {
  margin: 0 12px;
}

.video-arrow__svg {
  fill: #fbfbfd;
}

.video-arrow__text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */