@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
html,
* {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

a:active,
a:focus {
  outline: none;
}

input,
textarea {
  outline: none;
}

input:active,
textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}

button:active,
button:focus {
  outline: none;
}

.nav-wrapp {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  top: 0;
  right: 50px;
  width: 200px;
}

@media screen and (max-width: 1000px) {
  .nav-wrapp {
    display: none;
  }
}

.menu {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__line {
  width: 1px;
  height: 60px;
  background-color: #ffffff;
}

.menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 9px;
}

.menu__link {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}

.menu__link-active {
  font-weight: 700;
}

.menu__dots {
  margin-left: 10px;
  width: 2px;
  height: 2px;
  background-color: #ffffff;
}

.menu__dots-active {
  width: 4px;
  height: 4px;
}

.menu :nth-last-child(-n+2) {
  margin-bottom: 10px;
}

.menu :nth-child(2) {
  margin-top: 10px;
}

.first-screen {
  background-image: url(../img/bg/first-screen.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% 10%;
}

.first-screen__body {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.first-screen__content-wrapp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.conteiner {
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 67px 0 50px;
}

@media screen and (max-width: 730px) {
  .conteiner {
    padding: 0 20px 0 20px;
  }
}

.main-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 78%;
}

.main-content__text {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ff0000;
  margin-bottom: 20px;
}

@media screen and (max-width: 1400px) {
  .main-content__text {
    font-size: 20px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1060px) {
  .main-content__text {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.main-content__tittle {
  font-family: "Oswald", sans-serif;
  font-size: 180px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  margin: -67px -9px -34px;
  background: linear-gradient(80deg, #fdfdfd 20%, #404041 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1400px) {
  .main-content__tittle {
    font-size: 140px;
  }
}

@media screen and (max-width: 1060px) {
  .main-content__tittle {
    font-size: 120px;
  }
}

.main-content__subtittle {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  width: 78%;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 50px;
}

@media screen and (max-width: 1400px) {
  .main-content__subtittle {
    font-size: 20px;
  }
}

@media screen and (max-width: 730px) {
  .main-content__subtittle {
    width: 100%;
  }
}

@media screen and (max-width: 730px) {
  .main-content__subtittle {
    margin-bottom: 11vh;
  }
}

.main-content__form-wrapp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-form {
  text-align: center;
  width: 78%;
  background-color: #313131;
  border-radius: 15.0px;
  padding: 32px;
  margin-bottom: 150px;
}

@media screen and (max-width: 1400px) {
  .main-form {
    width: 71%;
  }
}

@media screen and (max-width: 730px) {
  .main-form {
    width: 100%;
  }
}

.main-form__input-wrapp {
  position: relative;
  width: 100%;
}

.main-form__input {
  width: 100%;
  height: 56px;
  background-color: #1f1f1f;
  border-radius: 10.0px;
  color: #b5b8c1;
  padding-left: 60px;
  margin-bottom: 15px;
}

.main-form__input:focus + .main-form__icon > .main-form__svg {
  stroke: #fbfcfa;
}

.main-form__icon {
  position: absolute;
  top: 16px;
  left: 26px;
}

.main-form__svg {
  fill: none;
  stroke: #ff0000;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  -webkit-transition: stroke .1s s;
  transition: stroke .1s s;
}

.main-form__button {
  width: 100%;
  max-width: 400px;
  height: 66px;
  background-color: #ff0000;
  border: none;
  border-radius: 33.0px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .main-form__button {
    font-size: 16px;
  }
}

.main-form__post-offer {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #b5b8c1;
  margin-top: 16px;
}

input[type="text"]::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 60px;
  font-weight: 300;
  color: #b5b8c1;
}

input[type="text"]:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 60px;
  font-weight: 300;
  color: #b5b8c1;
}

input[type="text"]::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 60px;
  font-weight: 300;
  color: #b5b8c1;
}

input[type="text"]::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 60px;
  font-weight: 300;
  color: #b5b8c1;
}

.video-arrow-wrapp {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 35%;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  margin-bottom: 168px;
}

@media screen and (max-width: 1600px) {
  .video-arrow-wrapp {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media screen and (max-width: 960px) {
  .video-arrow-wrapp {
    -webkit-box-flex: 0;
    -webkit-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}

@media screen and (max-width: 730px) {
  .video-arrow-wrapp {
    display: none;
  }
}

.video-arrow {
  cursor: pointer;
  width: 219px;
  height: 57px;
  background-color: #ff0000;
  border-radius: 28.5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 12px 12px 8px;
  margin-left: 19%;
}

@media screen and (max-width: 1587px) {
  .video-arrow {
    margin-left: 0;
  }
}

.video-arrow__play {
  margin: 0 12px;
}

.video-arrow__svg {
  fill: #fbfbfd;
}

.video-arrow__text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}

.video-screen {
  margin-top: -88px;
}

.video-wrapp {
  width: 79%;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .video-wrapp {
    width: 100%;
  }
}

.video-conteiner {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: solid 16px #f345459a;
  background-image: url(../img/bg/video-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px 5%;
}

.video-conteiner__tittle {
  font-size: 40px;
  text-align: center;
  width: 100%;
  font-weight: 600;
  color: #ffffff;
  margin: 0 auto;
}

@media screen and (max-width: 1600px) {
  .video-conteiner__tittle {
    font-size: 28px;
  }
}

@media screen and (max-width: 500px) {
  .video-conteiner__tittle {
    font-size: 22px;
  }
}

.video-conteiner__video {
  margin: 45px 0;
}

.video-conteiner__subtittle {
  text-align: center;
  width: 100%;
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
}

@media screen and (max-width: 1600px) {
  .video-conteiner__subtittle {
    font-size: 22px;
  }
}

@media screen and (max-width: 500px) {
  .video-conteiner__subtittle {
    font-size: 18px;
  }
}

.study-screen {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 41px;
}

.study-wrapp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.study-tittle {
  font-size: 49px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 1600px) {
  .study-tittle {
    font-size: 32px;
  }
}

@media screen and (max-width: 900px) {
  .study-tittle {
    font-size: 22px;
  }
}

.study-tittle__conteiner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.study-tittle__line {
  width: 50px;
  height: 4px;
  background-color: #ff0000;
}

.study-tittle__tittle {
  text-align: center;
  color: #1f1f1f;
  margin: 0 30px;
}

.study-tittle__subtittle {
  text-align: center;
  color: #ff0000;
}

.study-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
  .study-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.study-list__item {
  width: 45.9%;
  background-color: #f1f1f1;
  border-radius: 10.0px;
  margin: 30px 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 19px;
}

@media screen and (max-width: 1200px) {
  .study-list__item {
    width: 65%;
  }
}

@media screen and (max-width: 900px) {
  .study-list__item {
    width: 85%;
  }
}

@media screen and (max-width: 600px) {
  .study-list__item {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.study-list__number {
  font-family: Montserrat;
  font-size: 63px;
  font-weight: 900;
  color: #ffffff;
  margin-right: 19px;
}

@media screen and (max-width: 600px) {
  .study-list__number {
    font-size: 40px;
  }
}

.study-list__text {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

@media screen and (max-width: 600px) {
  .study-list__text {
    font-size: 18px;
    margin-top: 5px;
  }
}

.study-content {
  text-align: center;
  margin-bottom: 30px;
}

.study-content__tittle {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  color: #ff0000;
  margin-bottom: 30px;
}

@media screen and (max-width: 800px) {
  .study-content__tittle {
    font-size: 22px;
  }
}

.study-content__list {
  text-align: center;
}

.study-content__item {
  font-size: 26px;
  font-weight: 600;
  color: #1f1f1f;
  margin-bottom: 30px;
}

@media screen and (max-width: 800px) {
  .study-content__item {
    font-size: 18px;
  }
}

.main-form__button {
  margin: 0 auto;
}

.chess {
  width: 100%;
  height: 100vh;
  background-image: url(../img/bg/chess-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.chess__body {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chess__content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1000px) {
  .chess__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.column {
  width: 34%;
  margin-right: 40px;
}

@media screen and (max-width: 1400px) {
  .column {
    width: 40%;
    margin-right: 0;
  }
}

@media screen and (max-width: 1000px) {
  .column {
    width: 90%;
    margin-top: 40px;
    text-align: center;
  }
}

.column__number {
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ff0000;
  margin-bottom: 25px;
}

@media screen and (max-width: 1400px) {
  .column__number {
    font-size: 45px;
  }
}

@media screen and (max-width: 800px) {
  .column__number {
    font-size: 26px;
  }
}

.column__title {
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 25px;
}

@media screen and (max-width: 1400px) {
  .column__title {
    font-size: 26px;
  }
}

@media screen and (max-width: 800px) {
  .column__title {
    font-size: 22px;
  }
}

.column__text {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

@media screen and (max-width: 1400px) {
  .column__text {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  .column__text {
    font-size: 18px;
  }
}

.column:nth-child(2) {
  margin-right: 0px;
}

@media screen and (max-width: 1000px) {
  .column:nth-child(2) {
    margin-right: none;
  }
}

.check-screen {
  width: 100%;
  height: 100vh;
  background-image: url(../img/bg/phone-man-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% 10%;
}

.check-screen__body {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.check-screen__content {
  width: 80%;
}
/*# sourceMappingURL=style.css.map */