@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.nav-wrapp {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  top: 0;
  right: 50px;
  width: 200px;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.menu__line {
  width: 1px;
  height: 60px;
  background-color: #ffffff;
}

.menu__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9px;
}

.menu__link {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}

.menu__link-active {
  font-weight: 700;
}

.menu__dots {
  margin-left: 10px;
  width: 2px;
  height: 2px;
  background-color: #ffffff;
}

.menu__dots-active {
  width: 4px;
  height: 4px;
}

.menu :nth-last-child(-n+2) {
  margin-bottom: 10px;
}

.menu :nth-child(2) {
  margin-top: 10px;
}

.first-screen {
  background-image: url(../img/bg/first-screen.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% 10%;
}

.first-screen__body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-screen__content-wrapp {
  display: flex;
}

.conteiner {
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 145px 0 100px;
}

@media screen and (max-width: 1400px) {
  .conteiner {
    padding: 0 145px 0 50px;
  }
}

@media screen and (max-width: 960px) {
  .conteiner {
    padding: 0 50px 0 50px;
  }
}

@media screen and (max-width: 730px) {
  .conteiner {
    padding: 0 20px 0 20px;
  }
}

.main-content {
  flex: 1;
  width: 78%;
}

.main-content__text {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ff0000;
  margin-bottom: 20px;
}

@media screen and (max-width: 1400px) {
  .main-content__text {
    font-size: 20px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1060px) {
  .main-content__text {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.main-content__tittle {
  font-family: "Oswald", sans-serif;
  font-size: 180px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  margin: -67px -9px -34px;
  background: linear-gradient(80deg, #fdfdfd 20%, #404041 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1400px) {
  .main-content__tittle {
    font-size: 140px;
  }
}

@media screen and (max-width: 1060px) {
  .main-content__tittle {
    font-size: 120px;
  }
}

.main-content__subtittle {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  width: 78%;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 50px;
}

@media screen and (max-width: 1400px) {
  .main-content__subtittle {
    font-size: 20px;
  }
}

@media screen and (max-width: 730px) {
  .main-content__subtittle {
    width: 100%;
  }
}

@media screen and (max-width: 730px) {
  .main-content__subtittle {
    margin-bottom: 11vh;
  }
}

.main-content__form-wrapp {
  display: flex;
  flex-direction: column;
}

.main-form {
  text-align: center;
  width: 78%;
  background-color: #313131;
  border-radius: 15.0px;
  padding: 32px;
  margin-bottom: 150px;
}

@media screen and (max-width: 1400px) {
  .main-form {
    width: 71%;
  }
}

@media screen and (max-width: 730px) {
  .main-form {
    width: 100%;
  }
}

.main-form__input-wrapp {
  position: relative;
  width: 100%;
}

.main-form__input {
  width: 100%;
  height: 56px;
  background-color: #1f1f1f;
  border-radius: 10.0px;
  color: #b5b8c1;
  padding-left: 60px;
  margin-bottom: 15px;
}

.main-form__input:focus + .main-form__icon > .main-form__svg {
  stroke: #fbfcfa;
}

.main-form__icon {
  position: absolute;
  top: 16px;
  left: 26px;
}

.main-form__svg {
  fill: none;
  stroke: #ff0000;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  transition: stroke .1s s;
}

.main-form__button {
  width: 100%;
  height: 66px;
  background-color: #ff0000;
  border: none;
  border-radius: 33.0px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .main-form__button {
    font-size: 16px;
  }
}

.main-form__post-offer {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #b5b8c1;
}

input[type="text"]::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 60px;
  font-weight: 300;
  color: #b5b8c1;
}

.video-arrow-wrapp {
  flex: 2;
  width: 35%;
  align-self: flex-end;
  margin-bottom: 168px;
}

@media screen and (max-width: 1600px) {
  .video-arrow-wrapp {
    flex: 1;
  }
}

@media screen and (max-width: 960px) {
  .video-arrow-wrapp {
    flex: 0;
  }
}

@media screen and (max-width: 730px) {
  .video-arrow-wrapp {
    display: none;
  }
}

.video-arrow {
  cursor: pointer;
  width: 219px;
  height: 57px;
  background-color: #ff0000;
  border-radius: 28.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px 12px 8px;
  margin-left: 19%;
}

@media screen and (max-width: 1587px) {
  .video-arrow {
    margin-left: 0;
  }
}

.video-arrow__play {
  margin: 0 12px;
}

.video-arrow__svg {
  fill: #fbfbfd;
}

.video-arrow__text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */