@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

// font-family: 'Montserrat', sans-serif;
// font-family: 'Oswald', sans-serif;

$font-one: 'Montserrat',sans-serif;
$font-two: 'Oswald',sans-serif;
$primary-color: #ff0000;
$second-color: #1f1f1f;

html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}