@import "_common-styles";





.first-screen {
    background-image: url(../img/bg/first-screen.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 10%;

    &__body {
        min-height: 100vh;
        // flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    &__content-wrapp {
        display: flex;

    }
}

.conteiner {
    max-width: 1900px;
    margin: 0 auto;
    padding: 0 50px 0 100px;
}

.main-content {

    width: 549px;

    &__text {
        width: 100%;
        font-family: Montserrat;
        font-size: 24px;
        //line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: $primary-color;
        margin-bottom: 20px;
    }

    &__tittle {
        font-family: Oswald;
        font-size: 180px;
        //line-height: 0px;
        font-weight: 500;
        text-transform: uppercase;
        color: #ffffff;
        margin: -67px -9px -34px;

        // margin: -70px -3px;

    }

    &__subtittle {
        font-family: Montserrat;
        font-size: 28px;
        //line-height: 40px;
        font-weight: 500;
        color: #ffffff;
        margin-bottom: 50px;
    }

    &__form-wrapp {

        display: flex;
        flex-direction: column;
        //justify-content: space-between;
    }
}

input[type="text"]::placeholder {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 60px;
    font-weight: 300;
    color: #b5b8c1;

}

.main-form {
    text-align: center;
    width: 449px;
    //height: 373px;
    background-color: #313131;
    border-radius: 15.0px;
    padding: 32px;
    margin-bottom: 150px;

    &__input-wrapp {
        position: relative;
    }

    &__input {
        width: 383px;
        height: 56px;
        background-color: $second-color;
        border-radius: 10.0px;
        color: #b5b8c1;
        padding-left: 60px;
        margin-bottom: 15px;
    }

    &__input:focus+&__icon>&__svg {
        stroke: rgb(251, 252, 250);
    }

    &__icon {
        position: absolute;
        top: 16px;
        left: 26px;
    }

    &__svg {
        fill: none;
        stroke: $primary-color;
        stroke-width: 4;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        transition: stroke .1s s;
    }


    &__button {
        width: 384px;
        height: 66px;
        background-color: $primary-color;
        border-radius: 33.0px;
        font-family: Montserrat;
        font-size: 18px;
        //line-height: 245px;
        font-weight: 600;
        text-transform: uppercase;
        color: #ffffff;
        cursor: pointer;
    }

    &__post-offer {
        font-family: Montserrat;
        font-size: 12px;
        // line-height: 60px;
        font-weight: 300;
        color: #b5b8c1;
    }
}

.video-arrow-wrapp {
    width: 35%;
    align-self: flex-end;
    margin-bottom: 168px;
    //justify-content: center;

}

.video-arrow {
    margin: 0 auto;
    cursor: pointer;

    width: 219px;
    height: 57px;
    background-color: $primary-color;
    border-radius: 28.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px 12px 8px;



    &__play {
        margin: 0 12px;
    }

    &__svg {
        fill: #fbfbfd;
    }

    &__content {}

    &__text {
        font-family: Montserrat;
        font-size: 14px;
        // line-height: 18px;
        font-weight: 500;
        text-transform: uppercase;
        color: #ffffff;
    }
}